@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
  background-image: url(https://f.cl.ly/items/2K0P3z2y3X3c052f2B3Y/Image%202013.04.30%2021%3A28%3A02.png);
}

#traffic-light {
  //main traffic light
  position: absolute;
  display:block;
  left: 50%;
  top: 50%; 
  margin-left: -60px;
  margin-top: -160px;
  background-color:#333;
  width:120px;
  height:320px;
  border-radius:30px;
}

input {
  
  //remove default style
  appearance: none;
  //make the traffic lights appear
  position: relative;
  left: 50%;
  width:80px;
  height:80px;
  margin-top: 20px;
  margin-left:-40px;
  background-color: grey;
  border-radius: 100%;
  display: block;
}

#color1 {
  background-color: darken(#FF0000,30%);
}

#color2 {
  background-color: darken(#FFFF00,30%);
}

#color3 {
  background-color: darken(#00FF00,30%);
}

#color1-ligth {
  background-color: darken(#FF0000,0%);
  box-shadow: 0 0 6em lighten(#FF0000,10%);
}

#color2-ligth {
  background-color: darken(#FFFF00,0%);
  box-shadow: 0 0 6em lighten(#FFFF00,10%);
}

#color3-ligth {
  background-color: darken(#00FF00,0%);
  box-shadow: 0 0 6em lighten(#00FF00,10%);
}